body > footer {
	background-color: var(--color-footer-background);
	color: var(--color-footer-foreground);
}

body > footer > nav {
	display: grid;
	grid-template-areas:
		"name"
		"values";
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

body > footer > nav > p {
	grid-row: 1;
}

body > footer > nav > ul {
	grid-row: 2;
}

body > footer > nav > ul > li {

}