<!--
============================
page: {{ page | debug | safe }}
page_meta: {{ page_meta | debug | safe }}
title: {{ title | debug | safe }}
heading: {{ heading | debug | safe }}
summary: {{ summary | debug | safe }}
description: {{ description | debug | safe }}
============================
pattern: {{ pattern | debug | safe }}
test: {{ test | debug | safe }}
============================
-->