<nav aria-labelledby="heading_site_structure">
	<screenreader-only>
		<h2 id="heading_site_structure">Site structure</h2>
	</screenreader-only>
	<ul>
		<li><a href="{{ url.patterns }}">Patterns</a></li>
		<li><a href="{{ url.templates }}">Templates</a></li>
	</ul>
</nav>