{% if page_meta.summary %}
	{% set summary = page_meta.summary %}
{% else %}
	{% set summary = pattern.summary %}
{% endif %}
<meta name="generator" content="Eleventy (11ty.dev)">
<meta property="og:site_name" content="{{ global.site.title.text }}">
<meta name="description" property="og:description" content="{{ summary }}">
