<footer>
	<screenreader-only>
		<h2 id="heading_sitemap">Sitemap</h2>
	</screenreader-only>
	<nav aria-labelledby="heading_sitemap">
		<p>Main menu</p>
		<ul>
			<li><a href="{{ url.patterns }}">HTML/CSS patterns</a></li>
			<li><a href="{{ url.templates }}">Templates</a></li>
			<li><a href="{{ url.tests }}">Tests</a></li>
		</ul>
		<p>Meta</p>
		<ul>
			<li><a href="{{ url.home }}">vanilla.co.za</a></li>
			<li><a href="{{ url.releases }}">Release notes</a></li>
		</ul>
		<p>Source code</p>
		<ul>
			<li><a href="{{ url.source }}">Pattern library</a></li>
			<li><a href="{{ url.source_assets }}">Web assets</a></li>
		</ul>
	</nav>
</footer>
<!--
============================
page: {{ page | debug | safe }}
page_meta: {{ page_meta | debug | safe }}
title: {{ title | debug | safe }}
heading: {{ heading | debug | safe }}
summary: {{ summary | debug | safe }}
description: {{ description | debug | safe }}
============================
pattern: {{ pattern | debug | safe }}
============================
-->