{% if page_meta.title %}
{% set title = page_meta.title %}
{% endif %}
<title>{{ title }} — {{ global.site.title.text }}</title>
<meta name="og:title" content="{{ title }} — {{ global.site.title.text }}">