main > header {
	margin-block-start: calc(var(--spacing-container-inner) * -1);
	margin-block-end: 0;
	margin-inline: calc(var(--spacing-container-inner) * -1);
	background-color: var(--color-main-header-background);
	color: var(--color-main-header-foreground);
	padding: var(--spacing-container-inner);
}

main > header:empty {
	display: none;
}