.set_icons {
	display: flex;
	flex-direction: column;
}

.set_icons div {
	display: grid;
	grid-template-columns: minmax(auto, 10rem) auto;
}

.set_icons dd {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
	margin: 0;
}

.set_icons dd ul {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: "";
}

.set_icons dd ul li {
	display: inline;
}

.set_icons dd ul li + li::before {
	content: ",";
	margin-inline-start: -0.25rem;
	margin-inline-end: 0.375rem;
}

.set_icons iframe {
	border: 0;
	resize: none;
	margin-block-start: -0.5rem;
}