body > footer {
	background-color: var(--color-footer-background);
	color: var(--color-footer-foreground);
}

body > footer > nav > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4rem;
}

body > footer > nav > ul > li {
	font-weight: 600;
}

body > footer > nav > ul > li > ul {
	font-weight: 400;
	list-style: none;
	padding: 0;
	margin-block-start: 1.5rem;
}

body > footer > nav > ul > li > ul > li {
	margin-block-start: 0.5rem;
}