---
pagination:
  data: patterns
  size: 1
  alias: pattern
  resolve: values
permalink: "{{ url.patterns }}/{{ pattern.id }}/index.html"
layout: "pattern_detail.njk"
---

{% if pattern.example %}
	<section id="section_example">
		<header>
			<h3>Example</h3>
			<p><a href="example/" target="_blank">Open example in a new window</a></p>
		</header>
		<div class="container_iframe">
			<iframe width="{{ pattern.example.width }}" height="{{ pattern.example.height }}" src="example/"></iframe>
		</div>
	</section>
	{% if pattern.example.code %}
		<section id="section_code">
			<header>
				<h3>Code sample</h3>
			</header>
			{# Keep this on one line to avoid unnecessary whitespace #}
			{% highlight "html" %}{{ pattern.example.code | safe }}{% endhighlight %}
		</section>
	{% endif %}
{% endif %}

{% if pattern.notes %}
	<section id="section_notes">
		<header>
			<h3>Notes</h3>
		</header>
		{{ pattern.notes | markdown | safe }}
	</section>
{% endif %}

<section id="section_meta">
	<header>
		<h3>Details</h3>
	</header>
	<dl>
		<dt>
			Pattern scope:
		</dt>
		<dd>
			<b>{{ scopes[pattern.scope].name }}</b>
			{{ scopes[pattern.scope].description | markdown | safe }}
		</dd>
		{% if pattern.design_link %}
			<dt>
				Design source:
			</dt>
			<dd>
				<a href="{{ pattern.design_link }}">Figma</a>
			</dd>
		{% endif %}
		{% if pattern.assets %}
			<dt>
				Relevant assets:
			</dt>
			<dd>
				<ul>
					<li>
						<i>Shared stylesheets</i> [See <a href="/{{ global.assets_path }}/css/index.css">index.css</a>]
					</li>
					{% for asset in pattern.assets %}
						<li>
							<a href="/{{ global.assets_path }}{{ asset }}">{{ asset }}</a>
						</li>
					{% endfor %}
				</ul>
			</dd>
		{% endif %}
	</dl>
</section>


{% if pattern.variants %}
	<section id="section_{{ pattern.id }}_variants">
		<header>
			<h3>Variants</h3>
		</header>
		<ul class="list_accordions">
			{% for variant in pattern.variants %}
				<li>
					<details open>
						<summary><b>{{ variant.name }}</b>&nbsp;{% if variant.description %}
								{{ variant.description | markdown | safe }}
							{% endif %}</summary>
						<div>
							
							<h4>Example</h4>
							<p><a href="variants/{{variant.id}}/example/" target="_blank">Open type in a new window</a></p>
							<div class="container_iframe">
								<iframe 
									width="{{ variant.example.width if variant.example.width else pattern.example.width }}"
									height="{{ variant.example.height if variant.example.height else pattern.example.height }}"
									src="variants/{{ variant.id }}/example/"></iframe>
							</div>
						
							<h4>Code sample</h4>
							{% highlight "html" %}{{ variant.example.code | safe }}{% endhighlight %}

							{% if variant.notes %}
								<h4>Notes</h4>
								{{ variant.notes | markdown | safe }}
							{% endif %}
						</div>
					</details>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}