---
pagination:
  data: patterns
  size: 1
  alias: pattern
  resolve: values
permalink: "{{ url.patterns }}/{{ pattern.id }}/index.html"
layout: "pattern_detail.njk"
---
{% if pattern.example %}
	<section id="section_example">
		<header>
			<h3>Example</h3>
			<p><a href="example/" target="_blank">Open example in a new window</a></p>
		</header>
		<div class="container_iframe">
			<iframe width="{{ pattern.example.width }}" height="{{ pattern.example.height }}" src="example/"></iframe>
		</div>
	</section>
	{% if pattern.example.code %}
		<section id="section_code">
			<header>
				<h3>Code sample</h3>
			</header>
			{# Keep this on one line to avoid unnecessary whitespace #}
			{% highlight "html" %}{{ pattern.example.code | safe }}{% endhighlight %}
		</section>
	{% endif %}
{% endif %}

{% if pattern.assets %}
	<section id="section_assets">
		<header>
			<h3>Relevant assets</h3>
		</header>
		<ul>
			{% for asset in pattern.assets %}
				<li>
					<a href="{{ global.assets_path }}{{ asset }}">{{ asset }}</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}

{% if pattern.notes %}
	<section id="section_notes">
		<header>
			<h3>Notes</h3>
		</header>
		{{ pattern.notes | markdown | safe }}
	</section>
{% endif %}

{% for variationType, variationObj in variations %}
	{% if pattern[variationType] %}
		{% set variationLabel = variationObj.name %}
		{% set iterable = pattern[variationType] %}
		{% include 'artefact_detail_variation.njk' %}
	{% endif %}
{% endfor %}
