{% if variant %}
	{% set page_meta = {
		title: variant.pattern_id + ' variant: ' + variant.name,
		summary: variant.pattern_id + ' variant: ' + variant.description,
		description: variant.pattern_id + ' variant: ' + variant.description
	} %}
{% else %}
	{% set page_meta = {
		title: pattern.name,
		summary: pattern.summary,
		description: pattern.description
	} %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ global.site.lang }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
{% include "title.njk" %}
{% include "site_meta.njk" %}
<link rel="stylesheet" href="/vanilla-web-assets/src/css/index.css">
{{ content | safe }}
<script defer type="module" src="/vanilla-web-assets/src/mjs/index.mjs"></script>
{% include "debug.njk" %}