---
title: Welcome
heading: Welcome
summary: Documentation and examples of HTML/CSS patterns we use in the new Vanilla website
description: Here you'll find a collection of common HTML/CSS or UI patterns we use in the new Vanilla website
eleventyExcludeFromCollections: true
---

